

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundo1{
    height: 250vh;
}

.background1{
    background-color: rgba(212, 207, 207, 0.251);
    width: 2465px;
    height: 90px;
}

.cabeçalho ul{
    list-style: none;
    display: flex;
    gap: 40px;
    margin-bottom: 2000px;
    justify-content: center;
}

.titulo{
    text-decoration: none;
    margin-top: 60px;
    text-align: center;
    font-size: 100px;
}

.edicaoImg2{
    display:inline-block;
    margin-top: 110px;
    margin-left: 130px;
}

img{

}